@use "../../styles/variables.scss";

.HeaderText {
	position: absolute;
	top: 10em;
	left: 30em;
	width: fit-content;

	@media (max-width: 768px) {
		display: none;
	}
}

.title {
	display: flex;
}

h1:nth-child(1) {
	color: variables.$color-lightblue;
}

h1:nth-child(2) {
	color: variables.$color-white;
}
